# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 2

[*.bat]
end_of_line = crlf

[{.babelrc,.stylelintrc,jest.config,.eslintrc,*.json,*.jsb3,*.jsb2,*.bowerrc}]
indent_style = space
indent_size = 2

[*.js.map]
indent_style = space
indent_size = 2

[*.scss]
indent_style = space
indent_size = 2

[*.ts]
ij_typescript_spaces_within_imports = true
